<a href="#<%=model.get('id')%>">
  <div class="thumbnail">
    <img src="<%=model.get('thumbnail_medium')%>"/>
  </div>
</a>

<div class="description">
  <%=model.get('description')%>
</div>
<div class="title">
  <a href="#<%=model.get('id')%>"><%=model.get('title')%></a>
</div>
